@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Figtree:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #f4d14d;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-review-box {
  width: 327px;
  height: 522px;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: #fff;
  filter: drop-shadow(8px 8px #000);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blog-image,
.content,
.author {
  width: 279px;
}
.blog-image {
  height: 200px;
  background: url("../images/illustration-article.svg");
  background-size: cover;
  border-radius: 10px;
}
.content {
  height: 194px;
  padding: 24px 0;
}

.content .category {
  background-color: #f4d14d;
  height: 29px;
  width: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.learning {
  font-weight: 800;
  font-size: 14px;
}
.publish-date {
  font-size: 14px;
  font-weight: 400;
  padding: 12px 0;
}
.title {
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 12px;
  cursor: pointer;
}
.title:active {
  color: #F4D04E;
}
.description {
  color: #7F7F7F;
  font-size: 16px;
  font-weight: 400;
}
.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.author  img {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: inline;
}
.author-name {
  font-size: 14px;
  font-weight: 800;
  padding-left: 12px;
}

@media only screen and (min-width: 900px) {
  .blog-review-box {
    width: 368px;
  }
  .blog-image,
  .content,
  .author {
    width: 336px;
  }
}
